<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
  </head>
  <body>
    <%- include('menu.html') %>
      
    <% if(typeof data != 'undefined' && data.alertMsg){ %> <!--데이터가 잘 넘어옴 && 데이터 알림 메시지도 옴-->
      <script>
        alert(`<%= data.alertMsg %>`) ;
      </script>            
    <% } %>

    <h1>홈입니다.</h1>
    
  </body>
</html>